.topbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 0px 5px 10px hsl(0, 0%, 70%);
}
.btn1 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 20px;
  padding: 10px 10px 10px 0px;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 0%);
  color: hsl(0, 0%, 0%);
  background-color: hsl(0, 0%, 100%);
  text-decoration: none;
}
.btn1:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 0%);
}
.icon1 {
  padding: 10px;
}
.cartcount {
  border: 1px solid hsl(0, 0%, 0%);
  border-radius: 50%;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 5px;
  margin: 0px 0px 0px 10px;
}
